body {
    font-family: Arial, sans-serif;
    background-color: #efe6e6;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.column {
    padding: 20px;
    border-radius: 8px;
    width: 45%;
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
}

button {
    background-color: #32025f;
    color: #fff;
    border: none; 
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #218838;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;  
}

.input-group {
    flex: 1;
    margin-right: 10px;
}

.input-group:last-child {
    margin-right: 0;
}
